.match-header {
  width: 100%;
  height: 120px;
  background: #bc101d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
}
